body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: max-content auto max-content;
}

body > * {
  --max-width: 80rem;
  --padding: calc(var(--size-7) * 2);

  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;
}

body > *,
nav {
  position: relative;
}

section {
  padding-block: var(--section-pad-block);
}

footer {
  min-height: 30vh;
  padding-block: var(--size-8);
}
