[data-type='labelled']::before {
  content: '';
  display: inline-block;
  font-size: var(--fs-100);
  text-transform: uppercase;
  color: hsl(var(--white));
  padding: 0.5em;
  z-index: -9999;
  position: absolute;
  top: 0;
  left: 0;
}

header[data-type='labelled']::before {
  content: 'header';
  background: hsl(var(--blue) / 0.15);
}

nav[data-type='labelled']::before {
  content: 'navigation';
  background: hsl(var(--purple) / 0.15);
}

main[data-type='labelled']::before {
  content: 'content';
  background: hsl(var(--red) / 0.15);
}

footer[data-type='labelled']::before {
  content: 'footer';
  background: hsl(var(--green) / 0.15);
}

.footer-logo {
  height: auto;
  width: 4em;
}
