:root {
  font-family: 'Press Start 2P', system-ui;
  background-color: hsl(var(--white));
  color: hsl(var(--black));

  /** MISC */
  --transparency: 0.15;

  /** Sizes */
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-7: 1.75rem;
  --size-8: 2rem;

  /** Layout */
  --section-pad-block: clamp(5rem, 10vh, 6rem);

  /** Border */
  --bw: 5px;
  --border: var(--bw) solid;

  /** Color */
  --green: 110 100% 50%;
  --red: 0 100% 50%;
  --blue: 240 100% 50%;
  --purple: 300 100% 25%;
  --white: 0 0% 96%;
  --black: 240 25% 2%;
  --gray: 0 0% 84%;
  --light-gray: 0 0% 74%;

  /** Tyopography */
  --fs-100: clamp(0.75rem, 0.21vw + 0.71rem, 0.88rem);
  --fs-400: clamp(0.94rem, 0.38vw + 0.86rem, 1.17rem);
  --fs-500: clamp(1.17rem, 0.64vw + 1.04rem, 1.55rem);
  --fs-600: clamp(1.46rem, 1.01vw + 1.26rem, 2.07rem);
  --fs-700: clamp(1.83rem, 1.55vw + 1.52rem, 2.76rem);
  --fs-800: clamp(2.29rem, 2.32vw + 1.82rem, 3.68rem);
  --fs-900: clamp(2.86rem, 3.41vw + 2.18rem, 4.91rem);
}
