h1,
h2,
h3,
h4 {
  line-height: 1.2;
}

h1,
.text-h1 {
  font-size: var(--fs-900);
}

h2,
.text-h2 {
  font-size: var(--fs-800);
}

h3,
.text-h3 {
  font-size: var(--fs-700);
}

h4,
.text-h4 {
  font-size: var(--fs-600);
}

h5,
.text-h5 {
  font-size: var(--fs-500);
}

h6,
.text-h6 {
  font-size: var(--fs-400);
}

a,
.link {
  text-decoration: none;
}

a:hover,
.link:hover,
a:focus,
.link:hover {
  color: hsl(--blue);
}
